{% extends 'baseadmin.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>

   /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #d3e1e2;
}

.cktab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  height: 30px;
}


/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.cktab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

.cktab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.cktab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'London')">Adviescontact</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Woninggegevens</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Vragen</button>
  <button class="tablinks" onclick="openCity(event, 'Oss')">Nummers</button>
  <button class="tablinks" onclick="openCity(event, 'Berghem')">Adressen</button>
</div>

<form action="" method="post">
    {% csrf_token %}

<div class="cktab">
  <button class="" >Opslaan</button>
  <a href="{% url 'drzData:add_adviescontact' %}" ><button type="button" class="" >Nieuw</button></a>
</div>

<!-- Tab content -->
<div id="London" class="tabcontent">
  <h2>{% if object %}Wijzig{% else %}Nieuwe{% endif %} Adviescontact</h2>

     <table>

    {{ form.as_table }}
    </table>

<!--      {% for field in form|slice:":3" %}-->
<!--        {% endfor %}-->

<!--    <button>Opslaan</button>-->
</div>

<div id="Paris" class="tabcontent">
  <h2>Woninggegevens bij dit Adviescontact</h2>
<!--               {{ woninggeg_formset.management_form }}-->
                {{ woninggeg_formset|crispy }}

<!--                {% for form in woninggeg_formset %}-->
<!--                <div class="d-flex py-1 inline {{ product_meta_formset.prefix }}">-->
<!--                    <div>{{form.wng_TypeWoning.label}}: {{ form.wng_TypeWoning }}</div>-->
<!--                    <div>{{form.wng_Bouwjaar.label}}: {{ form.wng_Bouwjaar }}</div>-->
<!--                    <div>{{form.wng_Bewoning.label}}: {{ form.wng_Bewoning }}</div>-->
<!--&lt;!&ndash;                    <div class="ml-4">{{form.value.label}}: {{ form.value }}</div>&ndash;&gt;-->
<!--                    {% if woninggeg_formset.can_delete %}-->
<!--                        <div class="ml-4">{{ form.DELETE }} {{ form.DELETE.label }}</div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                {% endfor %}-->
</div>
<!--  </form>-->

<div id="Tokyo" class="tabcontent">
  <h2>Vraag / vragen bij dit Adviescontact</h2>
<!--<form action="" method="post">-->
<!--    {% csrf_token %}-->
<!--               {{ vraag_formset.management_form }}-->
                {{ vraag_formset|crispy }}


<!--                {% for form in vraag_formset %}-->
<!--                <div class="d-flex py-1 inline {{ product_meta_formset.prefix }}">-->
<!--                    <div>{{form.vrg_Tekst.label}}: {{ form.vrg_Tekst }}</div>-->
<!--&lt;!&ndash;                    <div class="ml-4">{{form.value.label}}: {{ form.value }}</div>&ndash;&gt;-->
<!--                    {% if vraag_formset.can_delete %}-->
<!--                        <div class="ml-4">{{ form.DELETE }} {{ form.DELETE.label }}</div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                {% endfor %}-->

</div>

<div id="Oss" class="tabcontent">
  <h2>Nummer(s) / e-mail enz.</h2>
                {{ nummer_formset|crispy }}
</div>

<div id="Berghem" class="tabcontent">
  <h2>Adressen (woon adres, post adres, verblijf adres, enz)</h2>
                {{ adres_formset|crispy }}
</div>

</form>



<script>
function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

{% endblock %}