{% extends 'baseadmin.html' %}

{% block content %}
<style>

   /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #d3e1e2;
}

.cktab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  height: 30px;
}


/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.cktab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

.cktab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.cktab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

  <form action="" method="post">
    {% csrf_token %}


<div class="cktab">
  <button class="" name="OpslaanNieuw" >Opslaan/Nieuw</button>
  <button class="" name="NieuwAdviesCont" >Opslaan/Contactgegevens toevoegen</button>
</div>

  <h3>Score voor vandaag is: {{ score }} Winkelbezoeken</h3>
  <h2>{% if object %}Wijzig{% else %}Nieuwe{% endif %} Winkelbezoek</h2>


<!--    {{ form.as_p }}-->

    <table>
    {{ form.as_table }}
    </table>



<!--    <button>Opslaan</button>-->
  </form>


<div class="col-sm-3 mt-8" style="margin-top: 30px">
    <table class="table table-bordered " border="1">
        <tr>
            <td colspan="4" style="border-width: 3px">Redenen overzicht</td>
        </tr>
        {{ redenen.count }}
        {% for reden in redenen %}
            <tr>
                <td>{{reden.0}}</td>
                <td>{{reden.1}}</td>
            </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}