{% extends 'baseadmin.html' %}

{% block content %}
<style>
  ul
  {
      list-style: none;
  }
</style>

  <h3>Score voor vandaag is: {{ score }} Winkelbezoeken</h3>
  <h2>{% if object %}Wijzig{% else %}Nieuwe{% endif %} Winkelbezoek</h2>

  <form action="" method="post">
    {% csrf_token %}

<!--    {{ form.as_p }}-->

    <table>
    {{ form.as_table }}
    </table>



    <button>Opslaan</button>
  </form>


<div class="col-sm-3 mt-8" style="margin-top: 30px">
    <table class="table table-bordered " border="1">
        <tr>
            <td colspan="4" style="border-width: 3px">Redenen overzicht</td>
        </tr>
        {{ redenen.count }}
        {% for reden in redenen %}
            <tr>
                <td>{{reden.0}}</td>
                <td>{{reden.1}}</td>
            </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}